{% extends 'base.html' %} {% load static %} {% block content %}

<section class="py-4 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h4>Boutique Alil... Simplicity at it's finest.</h4>
            <br />
            <p class="lead text-muted">Browse our extensive collection ...</p>
            <br />
            <a href="#" class="btn btn-primary btn-md my-2"
                >Create an account</a
            >
        </div>
    </div>
</section>
<div class="container bg-primary-subtle">
    <h1 class="mt-3">All Products</h1>
    <br />
    <hr />
    <div class="row">
        {% for product in products %}
        <div class="col-lg-3 col-md-6">
            <div class="card m-3">
                <a href="{% url 'product_detail' product.id %}">
                    <img
                        src="{{ product.image.url }}"
                        alt="{{ product.title }}"
                        class="card-img-top"
                    />
                </a>
                <div class="card-body">
                    <h5 class="card-text">
                        <a
                            href="{% url 'product_detail' product.id %}"
                            class="text-decoration-none text-dark"
                            >{{ product.description }}</a
                        >
                    </h5>
                    <h6>${{product.price}}</h6>
                    {% if product.rating %}
                    <small class="text-muted"
                        ><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                        5</small
                    >
                    {% else %}
                    <small class="text-muted">No Rating</small>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a
                        href="{% url 'product-info' slug=product.slug %}"
                        type="button"
                        class="btn w-100 btn-outline-secondary"
                        data-bs-target="#echarpeModal"
                    >
                        Buy
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr />
{% endblock %}
